<div class="py-4 sm:px-8 lg:container">
    <!-- Header -->

    <div class="flex-col rounded-lg bg-white px-8 py-8 dark:bg-night-700 sm:flex-row">
        <div class="mb-4 flex items-center justify-between">
            <div class="flex-col items-center">
                <h3 class="text-md font-bold text-gray-900 dark:text-night-50">Item Tambahan</h3>
                <!-- <span class="text-sm text-gray-400 dark:text-night-300">Updated 37 minutes ago</span> -->
            </div>
            <button
            routerLink="/dashboard/add-additional-fee"
                class="flex-none rounded-md bg-gray-100 px-4 py-2.5 text-xs font-semibold text-gray-500 hover:bg-gray-200 dark:bg-night-600 dark:text-night-200 dark:hover:bg-night-500">
                Tambah Item
            </button>
        </div>

        <div class="relative overflow-x-auto">
            <table class="w-full table-auto">
                <!--Table head-->
                <thead class="text-xs uppercase text-gray-400 dark:text-night-300">
                    <tr>
                        <th class="py-3 text-left">Nama</th>
                        <th class="py-3 text-left">Harga</th>
                        <th class="py-3 text-left">Action</th>
                        
                    </tr>
                </thead>
                <!--end Table head-->
                <!--Table body-->
                <tbody>
                    <tr *ngFor="let row of fees"
                        class="border-b border-dashed border-gray-200 hover:bg-gray-100 dark:border-night-500 dark:hover:bg-night-600">
                        
                        <td  class="py-2 pl-2 text-left">
                            <span class="text-sm font-semibold text-gray-400 dark:text-night-200"> {{row.name}} </span>
                        </td>
                        <td  class="py-2 pl-2 text-left">
                            <span class="text-sm font-semibold text-gray-400 dark:text-night-200"> {{row.price}} </span>
                        </td>
                        <td class="text-left">
                            <div class=" flex items-center justify-start">
                                
                                <button
                                  class="flex-none  rounded-md bg-red-500 text-white px-4 py-2.5 text-xs font-semibold  hover:bg-red-400 dark:bg-night-600 dark:text-night-200 dark:hover:bg-night-500">
                                  Hapus
                                </button>
                                <button
                                  class="flex-none ml-4 rounded-md bg-gray-300 px-4 py-2.5 text-xs font-semibold text-gray-500 hover:bg-gray-200">
                                  Ubah
                                </button>
                              </div>
                        </td>
                    </tr>
                </tbody>
                <!--end::Table body-->
            </table>
        </div>
    </div>
</div>